.hide-menu .menu__link:not(.menu__link--active){
  display: none !important;
}
.hide-item .menu__link:not(.menu__link--active) {
  display: none !important;
}

.board-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 29px;
  width: 100%;
}

.board-card {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 240px;
  border: 2px solid;
  border-image: linear-gradient(#00000000, #00000000) 1;
  background-color: #fafafa;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: border-image 0.2s ease-in-out, transform 0.2s ease-in-out;
  color: var(--ifm-font-color-base);
  text-decoration: unset;
}

.board-card:hover {
  color: var(--ifm-font-color-base);
  text-decoration: unset;
  border: 2px solid;
  border-image: linear-gradient(#9c42e4, #9c42e4) 1;
  transform: scale(1.02);
}

.board-card.gradient:hover {
  border-image: linear-gradient(to right, #2fe077, #61d2c9, #6470db) 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.board-card.green:hover {
  border-image: linear-gradient(
      var(--ifm-color-success),
      var(--ifm-color-success)
    )
    1;
}

.board-card.blue:hover {
  border-image: linear-gradient(#3578e5, #3578e5) 1;
}

html[data-theme="dark"] .board-card {
  background-color: var(--ifm-card-background-color);
}

.board-card .board-card-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.board-card .board-card-image img {
  object-fit: contain;
}

.board-card .board-card-badge-container {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.board-card .board-status-badge,
.legend-item .board-status-badge {
  padding: 6px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  color: white;
  background-color: #9c42e4;
}

.board-status-badge.gradient {
  background: linear-gradient(to right, #2fe077, #61d2c9, #6470db);
}

.board-status-badge.green {
  background-color: var(--ifm-color-success);
}

.board-status-badge.blue {
  background-color: #3578e5;
}

.board-card .board-card-footer {
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

html[data-theme="dark"] .board-card .board-card-footer {
  font-weight: 400;
}

.search-input-group {
  width: 100%;
  height: 40px;
  display: flex;
  margin-bottom: 30px;
  border: 2px solid #bbb;
  border-radius: 4px;
}
html[data-theme="dark"] .search-input-group {
  border-color: #555;
}

.search-input-group .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  text-align: center;
  color: #888;
  background-color: var(--ifm-background-surface-color);
}

.search-input-group .search-icon svg {
  width: 50%;
  height: 50%;
}

.search-input-group .search-input {
  width: 100%;
  border: none;
  padding: 5px;
  height: 100%;
  outline: none;
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-background-surface-color);
  font-size: medium;
  transition: border-color 0.3s ease-in-out;
}

.legend {
  display: flex;
  flex-flow: row wrap;
  gap: 14px 34px;
  width: 100%;
  margin-bottom: 30px;
  font-size: large;
}

.legend .legend-title {
  width: 100%;
}

.legend .legend-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 14px;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.legend .legend-item.active {
  background-color: var(--ifm-color-primary-darker);
  color: white;
}

.empty {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  font-size: larger;
}

.empty .empty-icon svg {
  font-size: 40px;
}

.empty .empty-detail {
  font-size: 14px;
}
